mixin input(data)
  .input
    each value in data 
      input.input__box(name= value["name"] type= value["type"] placeholder= value["placeholder"])
      p.input__subtitle= value["subtitle"]

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Intro Component
    link(rel="stylesheet", href="./style.css")
  body 
    .component 
      .component__header 
        .header
          h1.header__title Learn to code by watching others
          p.header__subtitle See how experienced developers solve problems in real-time. Watching scripted tutorials is great, but understanding how developers think is invaluable. 
      .component__box
        a.component__link(href="#")
          .button.button_blue Try it free 7 days then $20/mo. thereafter
        .component__card 
          .card 
            +input([
              {"name": "name", "type": "text", "placeholder": "First Name", "subtitle": "First Name cannot be empty"},
              {"name": "surname", "type": "text", "placeholder": "Last Name", "subtitle": "Last Name cannot be empty"},
              {"name": "email", "type": "email", "placeholder": "Email Address", "subtitle": "Looks like this is not an email"},
              {"name": "password", "type": "password", "placeholder": "Password", "subtitle": "Password cannot be empty"}
            ])
            a.component__link(href="#")
              .button.button_green.button_submit Claim your free trial
            .card__footer
              .footer
                p.footer__text
                | By clicking the button, you are agreeing to our 
                a.footer__link(href="#") Terms and Services
          
    script(src="./app.js")